<div class="card mx-auto p-auto mb-3  " style="width: 17rem;">
    <img class=" card-img-top img-fluid" [routerLink]="['/biscuit',biscuit.id]" [src]="biscuit.image"
        alt="image de biscuit">
    <div class="card-body">
        <h5 class="card-title text-center"><span class="biscuit-nom">{{biscuit.nom | titlecase}}</span></h5>
        <p class="card-text">Délicieux biscuits au <span class="biscuit-categorie">{{biscuit.categorie}}</span>.</p>
        <!-- <a [routerLink]="['/biscuit',biscuit.id]" class="btn btn-block btn-primary">Voir {{biscuit.nom}}</a> -->
        <a [routerLink]="['/biscuit-form-edit',biscuit.id]"
            class="btn btn-block btn-text-center btn-primary edit-btn">Editer
            {{biscuit.nom | titlecase}}</a>
        <button (click)="onDeleteBiscuit(biscuit)" class="btn btn-block btn-outline-danger delete-btn">Supprimer
            {{biscuit.nom | titlecase}}</button>
    </div>
</div>